<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="nav">
					<h2>Nicolás Quiñones</h2>
				</nav><!-- /.nav -->
			</div><!-- /.col-xs-12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-xs-12">
				<div class="arrival-time">
					<p>Has llegado a las <br><span class="big">18:51</span> <br>Has ganado <b>10</b> 2Coins.</p>
				</div><!-- /.arrival-time -->
				<a href="#" class="registry-btn btn btn-default btn-block">Enviar comprobante por e-mail</a>
			</div><!-- /.col-xs-12 -->
		</div><!-- /.row -->
		<div class="row">
			<hr />
			<div class="col-xs-6 big-avatar">
				<img src="img/avatar1.png" class="img-responsive" alt="Nicolás Quiñones" />
			</div><!-- /.col-xs-6 -->
			<div class="col-xs-6 big-points">
				<p>Tienes <span class="points">1850</span> 2Coins acumuladas.</p>
			</div><!-- /.col-xs-6 big-points -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.main -->