<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="nav">
					<h2>Nicolás Quiñones</h2>
				</nav><!-- /.nav -->
			</div><!-- /.col-xs-12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-xs-12">
				<a href="#!/view3" id="btn-registry" class="registry-btn btn btn-default btn-lg btn-block">Registrar asistencia remota <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
			</div><!-- /.col-xs-12 -->
		</div><!-- /.row -->
		<div class="row">
			<hr />
			<div class="col-xs-6 big-avatar">
				<img src="img/avatar1.png" class="img-responsive" alt="Nicolás Quiñones" />
			</div><!-- /.col-xs-6 -->
			<div class="col-xs-6 big-points">
				<p>Tienes <span class="points">1850</span> 2Coins acumuladas.</p>
			</div><!-- /.col-xs-6 big-points -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.main -->

<script>
	$(window).load(function() {
		$("#btn-registry").click(function() {
			console.log('registrando...')
			$.get( "http://gfbdieuwhi.localtunnel.me/log/create?type=ENTRADA&worker=3&datetime=2017-06-06T12:01:00", function( data ) {
				// RESULT
				console.log(data);
			});
		});
	})
</script>