/* app css stylesheet */
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:700';

body {
  font-family: 'Open Sans', sans-serif;
  background: url(img/bg.png) top center #48cfad;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  color: white;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 30px;
}

h1.logo img {
  height: 50px;
  margin-right: 10px;
}

figure.main-avatar {
  text-align: center;
}

  figure.main-avatar img {
    display: inline-block;
    height: 200px;
  }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.login form {
  text-align: center;
}

  .login form input {
    text-align: center;
  }

section.main {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; 
  text-align: center;
  padding-bottom: 30px;
}

section.main h2 {
  /*text-align: left;*/
}

.btn-default {
  background: transparent;

}

.registry-btn {
  font-size: 14px;
  margin: 0px auto;
  margin-top: 20px;
  vertical-align: middle;
  font-weight: bold;
}

  .registry-btn i {
    font-size: 30px;
    color: #2E7AEF;
    vertical-align: middle;
    margin-left: 5px;
  }

.big-avatar {
  text-align: center;
}

  .big-avatar img {
    height: 100px;
    display: inline-block;
    margin: 30px;
  }

.big-points {
  margin-top: 30px;
}

  .big-points p {
    text-align: center;
    font-size: 12px;
  }

  .big-points span.points {
    font-size: 36px;
  }

.arrival-time {
  margin-top: 10px;
}

  .arrival-time p {
    text-align: center;
    font-size: 16px;
  }

  .arrival-time span.big {
    font-size: 40px;
  }


.legal {
  text-align: center;
  color: #999;
  font-size: 8px;
  text-transform: uppercase;
  margin: 15px;
}

/* tablet */

.content {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.box {
  display: block;
  float: left;
  width: 100%;
  color: white;
}

.box .logo{
  width: 600px;
  margin: 0 auto;
  display: block;
}

.box .check {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}

.box img {
  max-width: 100%;
}

.image, .text {
  float: left;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
}

.text {
  width: 45%;
  margin-left: 5%;
}

.text ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text h2 {
  margin: 0;
  font-size: 2em;
  text-align: left;
}

.text li {
  border-bottom: 1px solid white;
  padding: 10px 0;
  font-weight: 400;
}

.text li:last-child {
  border-bottom: none;
}

.text li span {
  display: block;
  font-weight: 300 !important;
}
