<section class="login">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<figure class="main-avatar">
					<img src="img/avatar1.png" class="img-responsive" alt="Nicolás Quiñones" />
				</figure>
				<h2>Bienvenido, Nicolás</h2>
				<form action="#!/view2" method="GET" action="#" >
					<p>
						<input type="password" class="form-control" placeholder="Contraseña" />
					</p>
					<p>
						<button class="btn btn-block btn-primary">Ingresar</button>
					</p>
					<p><small><a href="#">¿Olvidaste tu contraseña?</a> / <a href="#">Cambiar de usuario</a></small></p>

				</form>
			</div><!-- /.col-xs-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.login -->