<div class="content">
	
	<div class="box">
		<img src="../img/check.png" alt="" class="check">
	</div>
	
	<div class="box">
		<div class="image">
			<img src="../img/muy-bien.png" alt="">
		</div>

		<div class="text">
			<ul>
				<li><h2>Pablo Lara</h2></li>
				<li><strong>Tipo de marcación</strong>
					<span>Entrada</span>
				</li>
				<li><strong>Fecha y hora de marcación</strong>
					<span>08:59:46, 26/08/2016</span>
				</li>
				<li><strong>Puntos en esta marcación</strong>
					<span>20</span>
				</li>
				<li><strong>Total de puntos acumulados</strong>
					<span>1910</span>
				</li>
			</ul>
		</div>
	</div>
	
</div>
